{% extends "layout.html.twig" %}

{% block title %}ERROR 404 - Assignment #2{% endblock %}

{% block content %}
	<h2>You don't find Chuck Norris, Chuck Norris finds you!</h2>
    <img src="https://www.mrctv.org/sites/default/files/uploads/chucknorris.jpg" width="720" height="480"/>
{% endblock %}
